
.SplashScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10000;
    padding: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(8, 3, 15));
    animation: disappear 1.5s linear;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

.SplashScreen svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.SplashScreen img {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: load linear 1.5s;
    animation-fill-mode: forwards;
}


.SplashScreen .author {
    position: absolute;
    left: 50%;
    top: 62%;
    font-weight: bold;

    transform: translate(-50%, -50%);
    color: white;
    width: 200px;
    text-align: center;
}


.SplashScreen .remastered {
    position: absolute;
    left: 50%;
    top: 57%;
    font-size: 14px;

    text-decoration: underline;
    transform: translate(-50%, -50%);
    color: white;
    width: 200px;
    text-align: center;
}




.author span:last-child {
    color: red;
    animation: appear 2s linear;
    animation-fill-mode: forwards;
}


@keyframes load {

    0% {

        transform: translate(-50%, -50%) scale(.2);
    }

    100% {

        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes disappear {

    0% {
        opacity: 1;
    }

    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}